$light-pink: #ff8adc;
$pink: #fb5077;
$red: #e20d1b;
$dark-orange: #fb5024;
$orange: #ff8458;
$yellow: #ffd831;
$disabled-yellow: #fff0b0;
$light-beige: #e9d19d;
$beige: #cea659;
$tan: #726848;
$dark-teal: #01685d;
$teal: #038468;
$green: #3cbf01;
$lime-green: #a7e600;
$cyan: #72e0c0;
$tooltip-blue: #c7faff;
$separator-blue: #cee9ef;
$light-blue: #cff5f9;
$aqua: #90d3d3;
$blue: #00b8e0;
$alex-blue: #0981b0;
$navy: #036991;
$electric-blue: #0e0afc;
$light-purple: #cacae0;
$jv-logo-purple: #882f7d;
$purple: #8e0c70;
$light-gray: #f2f2f2;
$disabled-gray: #f0f0f0;
$gray: #bdb9b2;
$label-gray: #595959;
$modal-gray: #f7f7f7;
$brown-gray: #808080;
$slate: #263f54;
$black: #414042;
$ink: #2f2f52;
$white: #fff;
$ink-overlay: rgba($ink, 0.6);